/*--[ Parametros Generales ]--*/
body {
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/684/966/498/wood-timber-closeup-wooden-surface-wallpaper-preview.jpg');
    background-size: fixed;
    /* display: flex;
    justify-content: center;
    align-items: center;
     */
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
div{
/* background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 ); */

background: rgba(0, 0, 0, 0.25);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(4px);
border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.18);
color: aliceblue;

}

/*--[ Gran Contenedor ]--*/
.contenedorApi{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: auto;
    margin: 30px auto 30px auto;
    padding: 10px;

    max-width: 80vw;

}

/*--[ La Carta y Contenido ]--*/
.carta{

display: flex;
justify-content: space-evenly;
/* justify-content: center; */

align-items: center;
gap: 10px;

width: 225px;
height: 150px;
/* overflow:hidden; */

}
.cartaName{
    margin-top: auto;
    margin-bottom: auto;
    
}
.cartaContenedorImg{
}

.imagenes{
  z-index: 110;
  filter:drop-shadow(4px 2px 1px rgb(0, 0, 0)) ; 
  position: relative  ;
  /* width: 100%; */
  padding: 15px;

}


/*--[ Lo FLotante ]--*/
.carta:hover{
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.85 );
  /* position: absolute; */
}


.flotante{
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.contenedorFlotante{
  height: 100%;
  width: 100%;
  /* background-color: red; */
}
.cartaDatos{
  height: 300px;
  width: 300px;
    background-color: black;
}



/*--[ Brillo ]--*/

/* .mirror-effect {
    width: 150%;
    height: 150%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0) 40%), url(metal-Texture.jpg);
    animation: shine 2s ease-in-out infinite;
  }
  
  @keyframes shine {
    0% {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    100% {
      transform: translate(50%, 50%) rotate(45deg);
    }
  } */