/*--[ Parametros Generales ]--*/
body {
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/684/966/498/wood-timber-closeup-wooden-surface-wallpaper-preview.jpg');
    background-size: fixed;


    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }

div{
background: rgba(0, 0, 0, 0.25);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(4px);
border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.18);
}

/*--[ Gran Contenedor ]--*/
.contenedorApi{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    gap: 10px;
    padding: 10px;


}

/*--[ La Carta y Contenido ]--*/
.cartaContenedor{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 225px;
  height: 150px;
  color: aliceblue;
}
.cartaName{
    margin-top: auto;
    margin-bottom: auto;

}
.cartaContenedorImg{
}

.cartaImg{
  filter:drop-shadow(4px 2px 1px rgb(0, 0, 0)) ;
  padding: 15px;

}

.cartaContenedor:hover{
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.85 );
  /* position: absolute; */
}


/*--[ El contenedor Flotante ]--*/

.Flotante_contenedor{
  backdrop-filter: blur(5px);

  height: 100%;
  width: 100%;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  display: grid;
  justify-content: center;
  align-items: center;
}

.Flotante_tarjeta{

  max-width: 95vw;
  width: 400px;
  /* max-height: 90vh; */
  overflow: hidden;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  
  flex: 1 1;
  background-color: rgba(240, 248, 255, 0.298);
  border: 0;
}

.Flotante_titulo{
  background-color: rgba(88, 56, 56, 0.879);
  text-align: center;
  font-size: 3rem;
  align-self: stretch;
  border-radius:  0px;
  color: azure;
}

.Flotante_imagen{
/* max-width: 75%; */
margin: 20px;

}

.Flotante_img{
  filter: drop-shadow(8px 3px 3px black);
  width: 100%;
  object-fit: cover;
  /* padding: 10px; */
}

.Flotante_texto{
  text-align: center;
  margin: auto 10px;
  margin-bottom: 15px;
}

